

 <app-navbar-site-formation></app-navbar-site-formation>


  <section id="aa-catg-head-banner">
     <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
     <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Nouveau formation</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>                   
           <li class="active">Nouveau formation</li>
         </ol>
       </div>
      </div>
    </div>
  </section>
   <!-- / catg header banner section -->
 

  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content" style="padding-bottom:40px ;">
            
            <div class="col-md-12">
              <div class="aa-myaccount-login">
              <h2>Nouveau formation</h2>
               <form action="" class="aa-login-form">
                
                 <label for="">Nom<span>*</span></label>
                 <input type="text" placeholder="Username or email">
                 
                 <label for="">Description<span>*</span></label>
                 <input type="password" placeholder="Password">
                 
                 <label for="">Image<span>*</span></label>
                 <input type="file" placeholder="Password">
                 
                 <label for="">chapitres<span>*</span></label>
                 <input type="text" placeholder="Password">
                
                 <label for="">videos<span>*</span></label>
                 <input type="text" placeholder="Password">
                
                 <label for="">descriptions chapitres<span>*</span></label>
                 <input type="text" placeholder="Password">
            
                 <label for="">PDF de chapitres<span>*</span></label>
                 <input type="file" placeholder="Password">
            
                      
                  <button type="submit" class="aa-browse-btn">ajouter</button>

               </form>
              </div>
            </div>

          </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">

            <app-sidebar-enseignant> </app-sidebar-enseignant>

        </div>
       
      </div>
    </div>
  </section>
 
  <app-footer-formation></app-footer-formation>
