

 <app-navbar-site-formation></app-navbar-site-formation>


 <section id="aa-catg-head-banner">
     <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
     <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Modifier formation</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>                   
           <li class="active">Modifier formation</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 
  <!-- Cart view section -->
  <section id="aa-myaccount">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="aa-myaccount-area">         
             <div class="row">
               
               <div class="col-md-12">
                 <div class="aa-myaccount-login">
                 <h4>Nouveau formation</h4>
                  <form action="" class="aa-login-form">
                   
                    <label for="">Nom<span>*</span></label>
                    <input type="text" placeholder="Username or email">
                    
                    <label for="">Description<span>*</span></label>
                    <input type="password" placeholder="Password">
                    
                    <label for="">Image<span>*</span></label>
                    <input type="file" placeholder="Password">
                    
                    <label for="">chapitres<span>*</span></label>
                    <input type="text" placeholder="Password">
                   
                    <label for="">videos<span>*</span></label>
                    <input type="text" placeholder="Password">
                   
                    <label for="">descriptions chapitres<span>*</span></label>
                    <input type="text" placeholder="Password">
               
                    <label for="">PDF de chapitres<span>*</span></label>
                    <input type="text" placeholder="Password">
               
                    <button type="submit" class="aa-browse-btn">modifier</button>
                  
                  </form>
                 </div>
               </div>
               
             </div>          
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Cart view section -->
 
 
  <app-footer-formation></app-footer-formation>
 