<aside class="aa-sidebar">
    <!-- single sidebar -->
    <div class="aa-sidebar-widget">
        <br><br>
      <h3>Administration</h3>

      <ul class="aa-catg-nav">
        <li><a [routerLink]="['/ListFormationsFormation']">Formations</a></li>
        <li><a [routerLink]="['/ListEnseignantsFormation']">Enseignants</a></li>
        <li><a [routerLink]="['/ListEtudiantsFormation']">Etudiants</a></li>
        <li><a >Notifications</a></li>
        <li><a [routerLink]="['/ProfilAdmin']">Mon profil</a></li>
      </ul>

    </div>

  </aside>
 


