<!-- / menu -->

  <app-navbar-site-formation></app-navbar-site-formation>

  <!-- Start slider -->
  <app-slider1></app-slider1>
  <!-- / slider -->
  <!-- Start Promo section -->
  
  <app-top-categories></app-top-categories>

  <!-- / Promo section -->
  <!-- Products section -->
  <app-formation-accueil> </app-formation-accueil> 
  
  <app-formateurs-accueil> </app-formateurs-accueil>
  <!-- / Products section -->
  <!-- banner section -->
  <app-galerie3></app-galerie3>
  <!-- / popular section -->
  <!-- Support section -->
  <app-slider2></app-slider2>
  <!-- / Testimonial -->

  <!-- Latest Blog -->
  
  <!-- / Latest Blog -->

  <!-- Client Brand -->
  
  <!-- / Client Brand -->
  <app-galerie4></app-galerie4> 
  <!-- Subscribe section -->

  <app-galerie5></app-galerie5> 

  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Subscribe our newsletter </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="" class="aa-subscribe-form">
              <input type="email" name="" id="" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->

  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  
