<!-- / menu -->

  <app-navbar-site-formation></app-navbar-site-formation>

  <!-- Start slider -->
  <app-slider1></app-slider1>
  <!-- / slider -->
  <!-- Start Promo section -->
  
  <app-top-categories></app-top-categories>

 
  <section id="aa-banner" style="margin-bottom: 2vw;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">        
          <div class="row">
            <div class="aa-banner-area">
            <a href="#"><img src="./assets/img/fashion-banner.jpg" alt="fashion banner img"></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- popular section -->
  
  <!-- / Promo section -->
  <!-- Products section -->
  <app-formation-accueil> </app-formation-accueil> 
  
  <section id="aa-banner" style="margin-bottom: 2vw;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">        
          <div class="row">
            <div class="aa-banner-area">
            <a href="#"><img src="./assets/img/fashion-banner.jpg" alt="fashion banner img"></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- popular section -->

  <app-formateurs-accueil> </app-formateurs-accueil>
  <!-- / Products section -->

  <section id="aa-banner" style="margin-bottom: 2vw;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">        
          <div class="row">
            <div class="aa-banner-area">
            <a href="#"><img src="./assets/img/fashion-banner.jpg" alt="fashion banner img"></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- popular section -->

  <app-galerie4></app-galerie4> 
  <!-- banner section -->
  
  <!-- popular section -->

  <!-- / popular section -->
  <!-- Support section -->
  <app-slider2></app-slider2>
  
  <app-galerie3></app-galerie3>
  
  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Subscribe our newsletter </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="" class="aa-subscribe-form" style="max-width: 100%;">
              <input type="email" name="" id="" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->

  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->


  <app-demande-inscrire [isOpenCommande]="isOpenCommande" [idCommande]="idCommande" (closeCommandeEvent)="closeCommande()" ></app-demande-inscrire> 
  

  
