




<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Category</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Category</li>
         </ol>
       </div>
      </div>
    </div>
</section>
   <!-- / catg header banner section -->

  <!-- 
   <app-top-categories></app-top-categories>
  -->
  
  
  <div class="col-md-12 slider-container active-slider-web ">

    <div style="position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: rgba(34, 33, 33, 0.438);"></div>
 
    <div class="item-slider22 active slider-1">
    
             
      <div class="container">
             <div class="col-md-12">
                  <div class="row">
             
                    
                      <div class="col-md-3"  style="display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 600px;
                      " >
                         <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Category</h1>
                      </div>
    
                      <div class="col-md-9" style="padding: 50px; ">
                       
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images//dveloppementpersonnel.jpg" alt="">
                            <h4 >  <a [routerLink]="'/CategorieDetails/Gestion-Affaires'"> &amp;&amp;BUSINSSE &nbsp; </a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                            <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">&amp;&amp;EDUCATION & ENSEIGANT&nbsp;</a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images//Communication.jpg" alt="">
                            <h4 > <a  [routerLink]="'/CategorieDetails/Communication'">&amp;&amp;DEVLOPPMENT PRSONNEL &amp;&amp;</a></h4>
                          </div>
                        </div>
    
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images//PNL.jpg" alt="">
                            <h4 ><a [routerLink]="'/CategorieDetails/PNL'"> &nbsp;INFO &amp; MULTIMEDIA&nbsp </a></h4>
                          </div>
                        </div>
    
                      </div>
    
                  </div> 
             </div>
      </div>       
    </div>
    <div class="item-slider22 active slider-2">
    
    
      
        <div class="container">
               <div class="col-md-12">
                    <div class="row">
                        
                      <div class="col-md-3"  style="display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 600px;
                      " >
                         <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Category</h1>
                      </div>
    
                      <div class="col-md-9" style="padding: 50px; ">
                       
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images/licencedeformationdesformateurs.jpg" alt="">
                            <h4 > <a  [routerLink]="'/CategorieDetails/science de énergie'" >&amp;&amp; TOT & LIFE COACH &amp;&amp;</a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images/enfantetfamille.jpg" alt="">
                            <h4 > <a  [routerLink]="'/CategorieDetails/psychologie'" > &amp;&amp;COMMINICATION&amp;&amp; </a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images/multimdia.jpg" alt="">
                            <h4 > <a [routerLink]="'/CategorieDetails/hypnosis&meditation'">  </a>&nbsp; &nbsp; &nbsp; &nbsp;PNL & HYPNOSIS</h4>
                          </div>
                        </div>
    
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images/radiomedia.jpg" alt="">
                            <h4 > <a [routerLink]="'/CategorieDetails/consulting'" ></a>; &amp; RDIO &amp; MEDIA  </h4>
                          </div>
                        </div>
    
                      </div>
                      
                    </div> 
               </div>
        </div>
    
    </div>
    
    <div class="item-slider22 active slider-3">
    
      
      <div class="container">
        <div class="col-md-12">
             <div class="row">
                 
              <div class="col-md-3"  style="display: flex;
              justify-content: center;
              align-items: center;
              height: 600px;
              " >
                 <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
              </div>
    
              <div class="col-md-9" style="padding: 50px; ">
               
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-top">
                    <img src="../../../../../assets/images//licencedeformationdesformateurs.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/Tot&life&coach'">&amp;&amp; SCIENCE &amp;&amp; </a></h4>
                  </div>
                </div>
    
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-top">
                    <img src="../../../../../assets/images//enfantetfamille.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/child&family'"> CHILD &amp; FAMILY </a></h4>
                  </div>
                </div>
    
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-bottom">
                    <img src="../../../../../assets/images//multimdia.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/multimedia'" > </a>&amp;&amp;MEDATAIONamp;&amp; </h4>
                  </div>
                </div>
    
    
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-bottom">
                    <img src="../../../../../assets/images//radiomedia.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/radio & media'"> &amp;&amp;CONSULTING&amp;&amp;</a></h4>
                  </div>
                </div>
    
              </div>
              
             </div> 
        </div>
      </div> 
    
    </div>
    
    
  </div>

  
  <div class="col-md-12 active-slider-mobile" style="padding-left:0px; padding-right: 0px;">

    <h1>TT</h1>
    <div class="col-sm-12 slider-1" style="padding-top: 70px; padding-bottom: 20px; margin-top: -50px;">
         
      
    <div class="col-sm-6">
      <div class="item-Categorie3">
         <img src="../../../../../assets/images//dveloppementpersonnel.jpg" alt="">
        <h4 >  <a [routerLink]="'/CategorieDetails/Business'"> Business </a></h4>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="item-Categorie3">
           <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
        <h4 > <a [routerLink]="'/CategorieDetails/education enseignant'">Education enseignant</a></h4>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="item-Categorie3">
         <img src="../../../../../assets/images//Communication.jpg" alt="">
        <h4 > <a  [routerLink]="'/CategorieDetails/Devlipmment personel'">Devlipmment personel </a></h4>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="item-Categorie3">
        <img src="../../../../../assets/images//PNL.jpg" alt="">
        <h4 ><a [routerLink]="'/CategorieDetails/Info multimedia'">Info multimedia</a></h4>
      </div>
    </div>


  </div>

  <div class="col-sm-12 slider-2" style="margin-top:-20px; padding: 10px 0px;">
           
    <div class="col-sm-6">
      <div class="item-Categorie3">
         <img src="../../../../../assets/images/licencedeformationdesformateurs.jpg" alt="">
        <h4 > <a  [routerLink]="'/CategorieDetails/TOT & LIFE COACH'" > TOT & LIFE COACH</a></h4>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="item-Categorie3">
         <img src="../../../../../assets/images/enfantetfamille.jpg" alt="">
        <h4 > <a  [routerLink]="'/CategorieDetails/COMMINICATION'" > COMMINICATION</a></h4>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="item-Categorie3">
        <img src="../../../../../assets/images/multimdia.jpg" alt="">
        <h4 > <a [routerLink]="'/CategorieDetails/PNL & HYPNISIS'">PNL & HYPNISIS</a></h4>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="item-Categorie3">
         <img src="../../../../../assets/images/radiomedia.jpg" alt="">
        <h4 > <a [routerLink]="'/CategorieDetails/Radio $média'" >Radio $média</a></h4>
      </div>
    </div>

  </div>


  <div class="col-sm-12 slider-3" style="margin-top:-20px; padding: 10px 0px;">
           
      <div class="col-sm-6">
        <div class="item-Categorie3">
          <img src="../../../../../assets/images//licencedeformationdesformateurs.jpg" alt="">
          <h4 > <a [routerLink]="'/CategorieDetails/Science'"> Science</a></h4>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="item-Categorie3">
          <img src="../../../../../assets/images//enfantetfamille.jpg" alt="">
          <h4 > <a [routerLink]="'/CategorieDetails/Child family'"> Child family </a></h4>
        </div>
      </div>

      <div class="col-sm-6 ">
        <div class="item-Categorie3">
          <img src="../../../../../assets/images//multimdia.jpg" alt="">
          <h4 > <a [routerLink]="'/CategorieDetails/Mmeddation'" >Mmeddation</a></h4>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="item-Categorie3">
          <img src="../../../../../assets/images//radiomedia.jpg" alt="">
          <h4 > <a [routerLink]="'/CategorieDetails/Consulting'"> Consulting </a></h4>
        </div>
      </div>

    </div>
  
    
  </div>
  
    
   
  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  

