




<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Categories</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Categories</li>
         </ol>
       </div>
      </div>
    </div>
</section>
   <!-- / catg header banner section -->

  <!-- 
   <app-top-categories></app-top-categories>
  -->
  
  
  <div class="col-md-12 slider-container ">

  
    <div class="item-slider22 active slider-1">
    
             
      <div class="container">
             <div class="col-md-12">
                  <div class="row">
             
                    
                      <div class="col-md-3"  style="display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 600px;
                      " >
                         <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
                      </div>
    
                      <div class="col-md-9" style="padding: 50px; ">
                       
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images//dveloppementpersonnel.jpg" alt="">
                            <h4 >  <a [routerLink]="'/CategorieDetails/Gestion-Affaires'"> mangement&nbsp; </a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                            <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">devlopment Personel&nbsp;</a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images//Communication.jpg" alt="">
                            <h4 > <a  [routerLink]="'/CategorieDetails/Communication'">comminication </a></h4>
                          </div>
                        </div>
    
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images//PNL.jpg" alt="">
                            <h4 ><a [routerLink]="'/CategorieDetails/PNL'">&nbsp; &nbsp; &nbsp; &nbsp;PNL&nbsp; &nbsp;&nbsp;</a></h4>
                          </div>
                        </div>
    
                      </div>
    
                  </div> 
             </div>
      </div>       
    </div>
    <div class="item-slider22 active slider-2">
    
    
      
        <div class="container">
               <div class="col-md-12">
                    <div class="row">
                        
                      <div class="col-md-3"  style="display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 600px;
                      " >
                         <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
                      </div>
    
                      <div class="col-md-9" style="padding: 50px; ">
                       
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images/licencedeformationdesformateurs.jpg" alt="">
                            <h4 > <a  [routerLink]="'/CategorieDetails/science de énergie'" > energie science&nbsp;&nbsp; </a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-top">
                            <img src="../../../../../assets/images/enfantetfamille.jpg" alt="">
                            <h4 > <a  [routerLink]="'/CategorieDetails/psychologie'" > health&nbsp; &amp; psychologie </a></h4>
                          </div>
                        </div>
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images/multimdia.jpg" alt="">
                            <h4 > <a [routerLink]="'/CategorieDetails/hypnosis&meditation'">hypnosis &amp; meditation</a></h4>
                          </div>
                        </div>
    
    
                        <div class="col-md-6 item-Categorie2 ">
                          <div class="item-Categorie box-bottom">
                            <img src="../../../../../assets/images/radiomedia.jpg" alt="">
                            <h4 > <a [routerLink]="'/CategorieDetails/consulting'" >consulting</a></h4>
                          </div>
                        </div>
    
                      </div>
                      
                    </div> 
               </div>
        </div>
    
    </div>
    
    <div class="item-slider22 active slider-3">
    
      
      <div class="container">
        <div class="col-md-12">
             <div class="row">
                 
              <div class="col-md-3"  style="display: flex;
              justify-content: center;
              align-items: center;
              height: 600px;
              " >
                 <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
              </div>
    
              <div class="col-md-9" style="padding: 50px; ">
               
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-top">
                    <img src="../../../../../assets/images//licencedeformationdesformateurs.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/Tot&life&coach'"> Tot &amp; life coach&nbsp; </a></h4>
                  </div>
                </div>
    
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-top">
                    <img src="../../../../../assets/images//enfantetfamille.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/child&family'"> child &amp; family </a></h4>
                  </div>
                </div>
    
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-bottom">
                    <img src="../../../../../assets/images//multimdia.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/multimedia'" >Info &amp; multimedia&nbsp; </a></h4>
                  </div>
                </div>
    
    
                <div class="col-md-6 item-Categorie2 ">
                  <div class="item-Categorie box-bottom">
                    <img src="../../../../../assets/images//radiomedia.jpg" alt="">
                    <h4 > <a [routerLink]="'/CategorieDetails/radio & media'"> Radio &amp; media </a></h4>
                  </div>
                </div>
    
              </div>
              
             </div> 
        </div>
      </div> 
    
    </div>
    
    
    </div>
    
   
  <!-- footer -->  
  <app-footer-formation></app-footer-formation>
  <!-- / footer -->

  