 

  <section id="aa-popular-category" style="background-color: rgba(47, 0, 255, 0.911);">
    
    <div class="container" >
      <div class="row">
        <div class="col-md-12">

          <h1 style="text-align: center; color: white; font-size: 30px; font-weight: 900;"> Training centers</h1>
         
          
    <br>
    <br>
    
          <div class="controls pull-right" style="padding-bottom: 5px;" *ngIf="!isLoading">
            <button class="left fa fa-chevron-left btn " style="margin-right:5px;" (click)="scrollManuelle(-1)"></button>
            <button class="left fa fa-chevron-right btn " (click)="scrollManuelle(1)"></button>
        </div>
        
        <hr width="100%" style="margin:0px;">
        
        <div class="scroll-container" style="width: 100%; overflow-x: scroll; position: relative;" id="foo" (touchstart)="setTimePauseAnimation()"  (mousedown)="setTimePauseAnimation()" >
          
           
            <ul style="display:inline-flex;" (mousedown)="setTimePauseAnimation()">
               
                <li *ngFor="let e of centerFormations" class="items-list style-item" style="margin:10px;width:250px; display:inline; position: relative; " >
                    
                  <a><img   style="width: 100% !important;" [src]="userService.baseURL+'/'+e.image" alt="">
                  <h3 class="item-text" style="text-align: center; color: white;">{{e.nom}}</h3></a>
                
                </li>
            </ul>
        </div>

        </div>
      </div>
    </div>
  

    <br>
    <br>
  </section>



