
<!--
<div class="col-md-12 slider-container ">
   
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1" class="mg-lf"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2" class="mg-lf"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
  
      <div class="item active slider-1">
            <div class="container">
                   <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                               <h1>Top Categries</h1>
                            </div>

                            <div class="col-md-7">
                             
                              <div class="col-md-6 item-Categorie2">
                                <div class="item-Categorie">
                                  <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                                  <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">devlopment Personel&nbsp;</a></h4>
                                </div>
                              </div>

                              <div class="col-md-6 item-Categorie2">
                                <div class="item-Categorie">
                                  <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                                  <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">devlopment Personel&nbsp;</a></h4>
                                </div>
                              </div>

                              <div class="col-md-6 item-Categorie2">
                                <div class="item-Categorie">
                                  <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                                  <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">devlopment Personel&nbsp;</a></h4>
                                </div>
                              </div>


                              <div class="col-md-6 item-Categorie2">
                                <div class="item-Categorie">
                                  <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                                  <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">devlopment Personel&nbsp;</a></h4>
                                </div>
                              </div>

                            </div>
                        </div> 
                   </div>
            </div>       
      </div>
      <div class="item slider-2">
   
          <div class="container">
                 <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-5">
                             <h1>Top Categries</h1>
                          </div>

                          <div class="col-md-7">
                            <h1>Top Categries 2</h1>
                          </div>
                      </div> 
                 </div>
          </div>

      </div>
      <div class="item slider-3">
  
        <div class="container">
          <div class="col-md-12">
               <div class="row">
                   <div class="col-md-5">
                      <h1>Top Categries</h1>
                   </div>

                   <div class="col-md-7">
                     <h1>Top Categries 2</h1>
                   </div>
               </div> 
          </div>
      </div> 

      </div>
      
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>


-->




<div class="col-md-12 slider-container ">

<div style="width:100%; height: 20px; position:absolute; top:0; bottom:0; margin:auto; z-index: 5;">
  <span (click)="setPosManuelle(-1)" class="button-slider">&lt;</span>         
  <span (click)="setPosManuelle(1)" style="float:right;" class="button-slider">&gt;</span> 
</div>

<div class="item-slider2 active slider-1">

  <div style="position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: rgba(34, 33, 33, 0.438);"></div>
         
  <div class="container">
         <div class="col-md-12">
              <div class="row">
         
                
                  <div class="col-md-3"  style="display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 600px;
                  " >
                     <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
                  </div>

                  <div class="col-md-9" style="padding: 50px; ">
                   
                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img src="../../../../../assets/images//dveloppementpersonnel.jpg" alt="">
                        <h4 >  <a [routerLink]="'/CategorieDetails/Gestion-Affaires'"> mangement&nbsp; </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img src="../../../../../assets/images//gestiondsaffaires.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/développement personnel'">devlopment Personel&nbsp;</a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img src="../../../../../assets/images//Communication.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/Communication'">comminication </a></h4>
                      </div>
                    </div>


                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img src="../../../../../assets/images//PNL.jpg" alt="">
                        <h4 ><a [routerLink]="'/CategorieDetails/PNL'">&nbsp; &nbsp; &nbsp; &nbsp;PNL&nbsp; &nbsp;&nbsp;</a></h4>
                      </div>
                    </div>

                  </div>

              </div> 
         </div>
  </div>       
</div>
<div class="item-slider2 slider-2">

  <div style="position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: rgba(34, 33, 33, 0.438);"></div>
 
    <div class="container">
           <div class="col-md-12">
                <div class="row">
                    
                  <div class="col-md-3"  style="display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 600px;
                  " >
                     <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
                  </div>

                  <div class="col-md-9" style="padding: 50px; ">
                   
                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img src="../../../../../assets/images/licencedeformationdesformateurs.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/science de énergie'" > energie science&nbsp;&nbsp; </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-top">
                        <img src="../../../../../assets/images/enfantetfamille.jpg" alt="">
                        <h4 > <a  [routerLink]="'/CategorieDetails/psychologie'" > health&nbsp; &amp; psychologie </a></h4>
                      </div>
                    </div>

                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img src="../../../../../assets/images/multimdia.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/hypnosis&meditation'">hypnosis &amp; meditation</a></h4>
                      </div>
                    </div>


                    <div class="col-md-6 item-Categorie2 ">
                      <div class="item-Categorie box-bottom">
                        <img src="../../../../../assets/images/radiomedia.jpg" alt="">
                        <h4 > <a [routerLink]="'/CategorieDetails/consulting'" >consulting</a></h4>
                      </div>
                    </div>

                  </div>
                  
                </div> 
           </div>
    </div>

</div>

<div class="item-slider2 slider-3">

  <div style="position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: rgba(34, 33, 33, 0.438);"></div>
 
  <div class="container">
    <div class="col-md-12">
         <div class="row">
             
          <div class="col-md-3"  style="display: flex;
          justify-content: center;
          align-items: center;
          height: 600px;
          " >
             <h1 class="box-titre" style="font-weight: 900; font-size: 50px; color:white; text-align: center;">Top Categries</h1>
          </div>

          <div class="col-md-9" style="padding: 50px; ">
           
            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-top">
                <img src="../../../../../assets/images//licencedeformationdesformateurs.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/Tot&life&coach'"> Tot &amp; life coach&nbsp; </a></h4>
              </div>
            </div>

            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-top">
                <img src="../../../../../assets/images//enfantetfamille.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/child&family'"> child &amp; family </a></h4>
              </div>
            </div>

            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-bottom">
                <img src="../../../../../assets/images//multimdia.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/multimedia'" >Info &amp; multimedia&nbsp; </a></h4>
              </div>
            </div>


            <div class="col-md-6 item-Categorie2 ">
              <div class="item-Categorie box-bottom">
                <img src="../../../../../assets/images//radiomedia.jpg" alt="">
                <h4 > <a [routerLink]="'/CategorieDetails/radio & media'"> Radio &amp; media </a></h4>
              </div>
            </div>

          </div>
          
         </div> 
    </div>
  </div> 

</div>


</div>