    <aside class="aa-sidebar">
      <!-- single sidebar -->
      <div class="aa-sidebar-widget">
        <h3>Formateur</h3>
        <ul class="aa-catg-nav">
          <li><a [routerLink]="['/ListFormationEnseignant']">Mes formations</a></li>
          <li><a [routerLink]="['/NewFormation']">Ajouter formation</a></li>
          <li><a [routerLink]="['/AddEtudiantEnseignant']">Ajouter Etudiant</a></li>
          <li><a >Notifications</a></li>
          <li><a [routerLink]="['/ProfilEnseignant']">Mon profil</a></li>
        </ul>

      </div>

    </aside>
   