<app-navbar-site-formation></app-navbar-site-formation>



  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Formation</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Formation</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 
   <!-- Blog Archive -->
   <section id="aa-blog-archive" *ngIf="formation">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="aa-blog-archive-area">
             <div class="row">
               <div class="col-md-12">
                 <!-- Blog details -->
                 <div class="aa-blog-content aa-blog-details">
                   <article class="aa-blog-content-single">                        
                     <h2><a href="#">{{formation.nom}}</a></h2>
                      <div class="aa-article-bottom">
                       <div class="aa-post-author">
                         Formateur <a href="#">{{formateur.nom}}</a>
                       </div>
                       
                     </div>
                     <figure class="aa-blog-img">
                       <a href="#"><img [src]="userService.baseURL +'/'+ formation.imagePrincipale" alt="fashion img"></a>
                     </figure>
                     
                    <ul>
                      <li *ngFor="let ligne of formation.descriptionsDessus"> {{ligne.ligne}} </li>
                    </ul>

                    <div *ngFor="let item of formation.descriptionsDessous">
                      <h3> {{item.title}} </h3>
                   
                      <p> {{item.value}} </p>
                   
                    </div>
                   
                    
                   </article>
                   <!-- blog navigation -->
                   <div class="aa-blog-navigation">
                     <a class="aa-blog-prev" href="#"><span class="fa fa-arrow-left"></span>Chapitre présedent</a>
                     <a class="aa-blog-next" href="#">Chapitre suivant<span class="fa fa-arrow-right"></span></a>
                   </div>
                   <!-- Blog Comment threats -->
                   <div class="aa-blog-comment-threat">
                     <h3>Chapitres ({{formation.chapitres.length}})</h3>
                     <div class="comments">
                       <ul class="commentlist">
                      
                        <li *ngFor="let item of formation.chapitres">
                              <h4 class="author-name">{{item.titre}}</h4>
                             
                              <p> {{item.description}} </p>
                                 
                                <br>
                            
                                <video controls style="width: 100%;">
                                  <source [src]="userService.baseURL +'/'+ item.video" type="video/mp4">
                                </video>
                      
                                <br>
                              <br>
                              <button class="btn btn-success"> Telecharger PDF de cours et de questions</button>
                              
                              <br>
                              <br>
                              <p> SVP insérez votre réponse ici sous forme de fichier PDF et pour valider le chapitre après la conformation d'enseignant!! </p>
                              <input type="file">
                              
                              <a href="#" class="reply-btn">Entrer</a>
                         </li>
                      
             
                       </ul>
                     </div>
                   
                   </div>
                   <!-- blog comments form -->
                   
                 </div>
               </div>
 
              
             </div>           
           </div>
         </div>
       </div>
     </div>
   </section>

   
    
  
   <app-footer-formation></app-footer-formation>