<app-navbar-site-formation></app-navbar-site-formation>



  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Formation</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Formation</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 
   <!-- Blog Archive -->
   <section id="aa-blog-archive" *ngIf="formation">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="aa-blog-archive-area">
             <div class="row">
               <div class="col-md-12">
                 <!-- Blog details -->
                 <div class="aa-blog-content aa-blog-details">
                   <article class="aa-blog-content-single">                        
                     <h2><a href="#">{{formation.titre}}</a></h2>
                      <div class="aa-article-bottom">
                       <div class="aa-post-author">
                         Formateur <a href="#">{{formation.coach.nom}}</a>
                       </div>
                       <div class="aa-post-date">
                         March 26th 2016
                       </div>
                     </div>
                     <figure class="aa-blog-img">
                       <a href="#"><img [src]="formation.image" alt="fashion img"></a>
                     </figure>
                     <p > {{formation.descriptionGenerale}} </p>
                    
                    <ul>
                      <li *ngFor="let ligne of formation.description"> {{ligne.ligne}} </li>
                    </ul>

                   
                    
                   </article>
                   <!-- blog navigation -->
                   <div class="aa-blog-navigation">
                     <a class="aa-blog-prev" href="#"><span class="fa fa-arrow-left"></span>Chapitre présedent</a>
                     <a class="aa-blog-next" href="#">Chapitre suivant<span class="fa fa-arrow-right"></span></a>
                   </div>
                   <!-- Blog Comment threats -->
                   <div class="aa-blog-comment-threat">
                     <h3>Chapitres (4)</h3>
                     <div class="comments">
                       <ul class="commentlist">
                         <li>
                              <h4 class="author-name">Chapitre 1</h4>
                              <span class="comments-date"> March 26th 2016</span>
                             
                              <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                              <br>
                              <iframe width="861" height="538" src="https://www.youtube.com/embed/fyCL9mwIRQ0?list=PLF8OvnCBlEY1wS7CSq_FKPYD_2E5eng79" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              <br>
                              <br>
                              <button class="btn btn-success"> Telecharger PDF de cours et de questions</button>
                              
                              <br>
                              <br>
                              <p> SVP insérez votre réponse ici sous forme de fichier PDF et pour valider le chapitre après la conformation d'enseignant!! </p>
                              <input type="file">
                              
                              <a href="#" class="reply-btn">Entrer</a>
                         </li>
                         <li>
                          <h4 class="author-name">Chapitre 1</h4>
                          <span class="comments-date"> March 26th 2016</span>
                         
                          <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                          <br>
                          <iframe width="861" height="538" src="https://www.youtube.com/embed/fyCL9mwIRQ0?list=PLF8OvnCBlEY1wS7CSq_FKPYD_2E5eng79" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          <br>
                          <br>
                          <button class="btn btn-success"> Telecharger PDF de cours et de questions</button>
                          
                          <br>
                          <br>
                          <p> SVP insérez votre réponse ici sous forme de fichier PDF et pour valider le chapitre après la conformation d'enseignant!! </p>
                          <input type="file">
                          
                          <a href="#" class="reply-btn">Entrer</a>
                       </li>
                   
                       <li>
                        <h4 class="author-name">Chapitre 1</h4>
                        <span class="comments-date"> March 26th 2016</span>
                       
                        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                        <br>
                        <iframe width="861" height="538" src="https://www.youtube.com/embed/fyCL9mwIRQ0?list=PLF8OvnCBlEY1wS7CSq_FKPYD_2E5eng79" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br>
                        <br>
                        <button class="btn btn-success"> Telecharger PDF de cours et de questions</button>
                        
                        <br>
                        <br>
                        <p> SVP insérez votre réponse ici sous forme de fichier PDF et pour valider le chapitre après la conformation d'enseignant!! </p>
                        <input type="file">
                        
                        <a href="#" class="reply-btn">Entrer</a>
                   </li>
                   <li>
                    <h4 class="author-name">Chapitre 1</h4>
                    <span class="comments-date"> March 26th 2016</span>
                   
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                    <br>
                    <iframe width="861" height="538" src="https://www.youtube.com/embed/fyCL9mwIRQ0?list=PLF8OvnCBlEY1wS7CSq_FKPYD_2E5eng79" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br>
                    <br>
                    <button class="btn btn-success"> Telecharger PDF de cours et de questions</button>
                    
                    <br>
                    <br>
                    <p> SVP insérez votre réponse ici sous forme de fichier PDF et pour valider le chapitre après la conformation d'enseignant!! </p>
                    <input type="file">
                    
                    <a href="#" class="reply-btn">Entrer</a>
               </li>
             
                       </ul>
                     </div>
                   
                   </div>
                   <!-- blog comments form -->
                   
                 </div>
               </div>
 
              
             </div>           
           </div>
         </div>
       </div>
     </div>
   </section>

   
    
  
   <app-footer-formation></app-footer-formation>