<app-navbar-site-formation></app-navbar-site-formation>



  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="./assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Formation</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Formation</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 

   <app-loading *ngIf="isLoading"></app-loading>

   <!-- Blog Archive -->
   <section id="aa-blog-archive" *ngIf="formation">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="aa-blog-archive-area">
             <div class="row">
               <div class="col-md-12">
                 <!-- Blog details -->
                 <div class="aa-blog-content aa-blog-details">
                   <article class="aa-blog-content-single">                        
                     <h2><a href="#">{{formation.nom}}</a></h2>
                      <div class="aa-article-bottom">
                       <div class="aa-post-author" style="font-size: 20px;">
                         Formateur : <a [routerLink]="'/FormateurDetails/'+formateur.id">{{formateur.nom}}</a> <br>
                         Specialites : <a [routerLink]="'/FormateurDetails/'+formateur.id">{{formateur.specialites}}</a>
                       </div>
                       
                     </div>

                     <div class="container">
                       <div class="col-md-12">
                           <div class="row">

                            <div class="col-md-6">
                              <figure class="aa-blog-img">
                                <a href="#"><img [src]="userService.baseURL +'/'+ formation.imagePrincipale" alt="fashion img" style="width: 100%;"></a>
                              </figure>
         
                            </div>

                            <div class="col-md-6">
                              <ul>
                                <li *ngFor="let ligne of formation.descriptionsDessus"> {{ligne.ligne}} </li>
                              </ul>
          
                              <br>
                              <button *ngIf="!autorized"  (click)="openCommande(formation.id)" class="btn btn-info" style="float: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px; font-weight: 700; margin-top: auto;"> Inscrire </button>
                            
                            </div>

                           </div>

                       </div>

                     </div>
                     
                    
                    <div *ngFor="let item of formation.descriptionsDessous">
                      <h3> {{item.title}} </h3>
                   
                      <p> {{item.value}} </p>
                   
                    </div>
                   
                    
                   </article>
                   <!-- blog navigation -->
                   <div class="aa-blog-navigation"  *ngIf="autorized" >
                     <a class="aa-blog-prev" href="#"><span class="fa fa-arrow-left"></span>Chapitre présedent</a>
                     <a class="aa-blog-next" href="#">Chapitre suivant<span class="fa fa-arrow-right"></span></a>
                   </div>
                   <!-- Blog Comment threats -->
                   <div class="aa-blog-comment-threat" *ngIf="autorized">
                     <h3>Chapitres ({{formation.chapitres.length}})</h3>
                     <div class="comments">
                       <ul class="commentlist">
                      
                        <li *ngFor="let item of formation.chapitres">
                              <h4 class="author-name">{{item.titre}}</h4>
                             
                              <p> {{item.description}} </p>
                                 
                                <br>
                            
                                <video controls style="width: 100%;">
                                  <source [src]="userService.baseURL +'/'+ item.video" type="video/mp4">
                                </video>
                      
                                <br>
                              <br>
                              <button class="btn btn-success"> Telecharger PDF de cours et de questions</button>
                              
                              <br>
                              <br>
                              <p> SVP insérez votre réponse ici sous forme de fichier PDF et pour valider le chapitre après la conformation d'enseignant!! </p>
                              <input type="file">
                              
                              <a href="#" class="reply-btn">Entrer</a>
                         </li>
                      
             
                       </ul>
                     </div>
                   
                   </div>
                   <!-- blog comments form -->
                   
                 </div>
               </div>
 
              
             </div>           
           </div>
         </div>
       </div>
     </div>
   </section>

   
   <app-inscription-formation-modal [isOpenCommande]="isOpenCommande" [idCommande]="idCommande" (closeCommandeEvent)="closeCommande()" ></app-inscription-formation-modal> 
  
   <app-footer-formation></app-footer-formation>

